// mostly from https://github.com/jimjam-slam/talk-runapp-quarto-2022/tree/main
// original: (MIT License)

/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Inter:wght@400;700;900&display=swap');

$font-family-sans-serif: "Inter", sans-serif !default;
$font-family-monospace: "Fira Mono", monospace !default;

// Theme colors
// https://brand.rice.edu/university-colors
$rice-blue: #00205B;
$rice-gray: #7C7E7F;

// Extended palette
// https://brand.rice.edu/extended-palette
$light-blue-gray: #ADC7DC;
$light-gray: #E0E2E6;
$bright-blue: #9FDDF9;
$medium-blue: #4D9AD4;
$rich-blue: #0A509E;
$midnight-blue: #13133E;
$dark-gray: #44474F;
$dark-blue-gray: #303B61;

// Campus-inspired palette
// https://brand.rice.edu/campus-inspired-palette
$warm-yellow: #E9A139;
$brick-red: #C04829;
$burgundy: #68132E;
$shadow-purple: #362E52;
$leaf-emerald: #005B50;
$tree-green: #00432C;
$grass-green: #359245;
$bright-green: #A5C151;


$body-bg: white;
$body-color: $rice-blue;
$headings-color: $grass-green !default; // because we're texturing them
$link-color: $rice-gray;

/*-- scss:rules --*/

.boxcol {
    background-color: #000000cc;
    color: white;
    padding: 30px;
}

.reveal {
    section {

        h2,
        h3 {
            font-size: 52px;
            color: $grass-green;
            text-transform: uppercase;
            margin-bottom: 0.5em;
        }

        h4,
        h5,
        h6 {
            color: $grass-green;
            font-weight: normal;
        }

        h4 {
            font-size: 52px;
        }

        h5 {
            font-size: 44px;
        }

        h6 {
            font-size: 36px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {

            // other headers
            &.text-brick-red {
                color: $brick-red
            }

            &.text-light-gray {
                color: $light-gray
            }

            &.text-rice-gray {
                color: $rice-gray
            }

            &.text-midnight-blue {
                color: $midnight-blue
            }

            &.text-grass-green {
                color: $grass-green
            }

            &.text-warm-yellow {
                color: $warm-yellow
            }

            &.text-black-white {
                background: linear-gradient(45deg, #333, #ccc);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }

        }
    }

    // weird that they're inline-block by default?
    ol,
    ul {
        display: block;
    }

    // override reveal.js progress colours (naughty!)
    .progress {
        color: transparent !important;

        span {
            background: linear-gradient(45deg, red, gold);
        }
    }

    .slide-menu-button a {
        color: #000000aa;
    }
}


.hl {
    padding-inline: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    //margin-inline: 1rem;
    background: #99999966;

    &-grass-green {
        background: $grass-green;
    }

    &-brick-red {
        background: $brick-red;
    }

    &-rice-blue {
        background: $rice-blue;
    }

    &-warm-yellow {
        background: $warm-yellow;
    }

    &-light-gray {
        background: $light-gray;
    }

}

// source code (probably only looks reasonable on dark tbh

.reveal div.sourceCode.cell-code {
    border: none;
    box-shadow: 0px 25px 85px #33669966;
}

.reveal pre.sourceCode code {
    background: linear-gradient(66deg, #bbeeee, #0088dd);
    padding: 12px 18px;
}

.reveal .footer {
    color: $rice-gray;
}

.reveal .caption {
    font-size: 24px;
    color: $rice-gray;
}

.reveal .figcaption {
    font-size: 24px;
    color: $rice-gray;
}

.reveal .bigcaption {
    font-size: 36px;
    color: $rice-gray;
}