// mostly from https://github.com/jimjam-slam/talk-runapp-quarto-2022/tree/main
// original: (MIT License)

/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Inter:wght@400;700;900&display=swap');

$font-family-sans-serif: "Inter", sans-serif !default;
$font-family-monospace: "Fira Mono", monospace !default;

// Theme colors
// https://brand.rice.edu/university-colors
$rice-blue: #00205B;
$rice-gray: #7C7E7F;

// Extended palette
// https://brand.rice.edu/extended-palette
$light-blue-gray: #ADC7DC;
$light-gray: #E0E2E6;
$bright-blue: #9FDDF9;
$medium-blue: #4D9AD4;
$rich-blue: #0A509E;
$midnight-blue: #13133E;
$dark-gray: #44474F;
$dark-blue-gray: #303B61;

// Campus-inspired palette
// https://brand.rice.edu/campus-inspired-palette
$warm-yellow: #E9A139;
$brick-red: #C04829;
$burgundy: #68132E;
$shadow-purple: #362E52;
$leaf-emerald: #005B50;
$tree-green: #00432C;
$grass-green: #359245;
$bright-green: #A5C151;


$body-bg: white;
$body-color: $rice-blue;
$headings-color: $grass-green !default; // because we're texturing them
$link-color: $rice-gray;

/*-- scss:rules --*/

.boxcol {
    background-color: #000000cc;
    color: white;
    padding: 30px;
}

// noise effect for text
@mixin scratched($baseTurbFreq: 0.005, $turbOctaves: 1, $displaceScale: 5) {
    filter: contrast(200%) url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="filter" x="-10%" y="-10%" width="120%" height="120%">\
          <feTurbulence baseFrequency="#{$baseTurbFreq}" numOctaves="#{$turbOctaves}" result="turbulence" />\
          <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="#{$displaceScale}" xChannelSelector="R" yChannelSelector="G"/>\
        </filter>\
      </svg>#filter');
}

h1,
h2,
h3,
h4,
h5,
h6 {

    // slide headers
    .reveal .text-brick-red & {
        color: $brick-red
    }

    .reveal .text-rice-gray & {
        color: $rice-gray
    }

    .reveal .text-light-gray & {
        color: $light-gray
    }

    .reveal .text-midnight-blue & {
        color: $midnight-blue
    }

    .reveal .text-grass-green {
        color: $grass-green
    }

    .reveal .text-warm-yellow {
        color: $warm-yellow
    }

    .reveal .text-lime-cyan & {
        background: linear-gradient(45deg, #00aadd, #66dd00);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .reveal .text-orange-gold & {
        background: linear-gradient(45deg, #f37335, #fdc830);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .reveal .text-indigo-pink & {
        background: linear-gradient(45deg, #4a00e0, #ff0099);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .reveal .text-red-brown & {
        background: linear-gradient(45deg, #ed213a, #93291e);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .reveal .text-black-white & {
        background: linear-gradient(45deg, #333, #ccc);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

.reveal {
    section {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {

            // other headers
            &.text-brick-red {
                color: $brick-red
            }

            &.text-light-gray {
                color: $light-gray
            }

            &.text-rice-gray {
                color: $rice-gray
            }

            &.text-midnight-blue {
                color: $midnight-blue
            }

            &.text-grass-green {
                color: $grass-green
            }

            &.text-warm-yellow {
                color: $warm-yellow
            }

            &.text-lime-cyan {
                background: linear-gradient(45deg, #00aadd, #66dd00);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }

            &.text-orange-gold {
                background: linear-gradient(45deg, #f37335, #fdc830);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }

            &.text-indigo-pink {
                background: linear-gradient(45deg, #4a00e0, #ff0099);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }

            &.text-red-brown {
                background: linear-gradient(45deg, #ed213a, #93291e);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }

            &.text-black-white {
                background: linear-gradient(45deg, #333, #ccc);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }

        }
    }

    // weird that they're inline-block by default?
    ol,
    ul {
        display: block;
    }

    // override reveal.js progress colours (naughty!)
    .progress {
        color: transparent !important;

        span {
            background: linear-gradient(45deg, red, gold);
        }
    }

    .slide-menu-button a {
        color: #000000aa;
    }
}

.hl {
    padding-inline: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-inline: 1rem;
    background: #99999966;

    &-grass-green {
        background: $grass-green;
    }

    &-brick-red {
        background: $brick-red;
    }

    &-rice-blue {
        background: $rice-blue;
    }

    &-warm-yellow {
        background: $warm-yellow;
    }

    &-light-gray {
        background: $light-gray;
    }
}

// source code (probably only looks reasonable on dark tbh

.reveal div.sourceCode.cell-code {
    border: none;
    box-shadow: 0px 25px 85px #33669966;
}

.reveal pre.sourceCode code {
    background: linear-gradient(66deg, #bbeeee, #0088dd);
    padding: 12px 18px;
}